:root {
  --foreground: #e3e3e3;
  --background: #111111;
}

html,
body {
  padding: 0;
  margin: 0
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: monospace;
}

#chat-container {
  display: flex;
  height: calc(100vh - 8px);
  width: calc(100vw - 8px);
  flex-direction: column;
  padding: 4px;

  #chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  #chat-menu {
    width: 25%;
    min-width: 180px;
    background-color: #171717;
  }

  #message-box {
    flex: 1;
    overflow: auto;
    padding: 12px 8px;
    color: #bdbdbd;
  }

  input[type="text"] {
    border: none;
    outline: none;
    color: #eeeeee;
    padding: 8px 8px;
    width: 100%;
    background-color: #171717;
  }
}

#chat-menu {
  padding: 6px 10px;
}

.command-list {
  p {
    background-color: #171717;
    padding: 2px 4px;
    border-radius: 2px;
    margin: 1px;

    &:hover {
      cursor: pointer;
      filter: brightness(1.4);
    }
  }
}

fieldset {
  border: 1px solid #555555;
  overflow: hidden;
  border-radius: 3px;
  padding: 6px 10px;
  min-height: 120px;
  margin-bottom: 12px;

  legend {
    font-size: 14px;
  }
}

#chat-control {
  width: 100%;
  display: flex;
  border-top: 1px solid #4d4d4d;

  button {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 4px 20px;
    color: #c2c2c2;
    background-color: #171717;

    &:hover {
      cursor: pointer;
      filter: brightness(1.2);
    }
  }
}

.command-box div {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}

.status-box {
  p {
    margin: 0;
  }
}

dialog {
  background-color: #171717;
  outline: none;
  border: 1px solid #4d4d4d;
  min-width: 250px !important;
  min-height: 100px;
  color: var(--foreground);
  position: relative;
  padding: 10px 14px;

  .dialog-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
  }

  a[role="button"] {
    background-color: inherit;
    font-size: 28px;
    position: absolute;
    top: 2px;
    right: 3px;
    padding: 0 8px;
    border-radius: 3px;
    color: #c2c2c2;

    &:hover {
      cursor: pointer;
      filter: brightness(1.45);
    }
  }
}